h2 Linux-Käyttäjät  
p Uudelleennimeä kotihakemistossasi oleva .netbeans/ -kansio seuraavalla komennolla 
/!`cd ~/ ; mv .netbeans/ .netbeans.old/`
	
h2 Mac-käyttäjät:
p Uudelleennimeä kansio ~/Library/Application Support/NetBeans/ 
code mv  ~/Library/Application\ Support/NetBeans/   ~/Library/Application\ Support/NetBeans.old/  

h2 Windows-käyttäjät:
p Uudelleennimeä seuraava kansio:

h3 Windows 7 / Vista:
pre 
	|C:\Users\%username%\AppData\Roaming\NetBeans<br>
	|JA <br>
	|C:\Users\%username%\AppData\Local\NetBeans

h3 Windows XP:
pre C:\Documents and Settings\%username%\Application Data\NetBeans

p  HUOM. voit kopioida polun suoraan resurssienhallintaikkunaan.
  
	 (AppData ja Application Data ovat piilotettuja)